@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "reset";

:root {
  --breath-animation: breath 1.6s alternate infinite;
  font-size: 1vw;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes breath {
  from {
    transform: scale(0.9);
    color: #64bfc1;
  }
  to {
    transform: scale(1.2);
    color: #63cf97;
  }
}

@keyframes drop {
  from {
    transform: translateY(-10rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.d-none {
  display: none;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
}

.fullscreen-button {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.menu {
  background: white;
  height: 100vh;
  transform: translateY(-100%);
  display: flex;
  box-shadow: 0rem 0rem 4rem 2rem rgb(0 0 0 / 20%);
  svg {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  video {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}

.menu--opened {
  transition: all 1500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateY(-100%);
}

.menu--closed {
  transition: all 1500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateY(0%);
}

.menu-item {
  font-weight: bold;
  transition: ease-in-out;
  color: #64bfc1;
  animation: var(--breath-animation);

  &:hover {
    cursor: pointer;
  }
  &[data-value="1"] {
    --position: 543.9px 1402.2px;
    transform-origin: var(--position);
  }
  &[data-value="2"] {
    --position: 470.7px 1039.9px;
    transform-origin: var(--position);
  }
  &[data-value="3"] {
    --position: 2042.89px 410.09px;
    transform-origin: var(--position);
  }
  &[data-value="4"] {
    --position: 2524.9px 318.2px;
    transform-origin: var(--position);
  }
  &[data-value="5"] {
    --position: 2247.4px 917.6px;
    transform-origin: var(--position);
  }
  &[data-value="6"] {
    --position: 2806.2px 1175.3px;
    transform-origin: var(--position);
  }
  &.selected {
    fill: var(--selected-color);
  }
}

.page {
  background: #0969b2;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  height: 100vh;
  text-align: center;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 3em;
    animation: drop 0.8s forwards;
    opacity: 0;
    display: none;
  }

  &__language-selector {
    align-items: center;
    display: flex;

    label {
      color: rgba(#fff, 60%);
      margin-left: 2em;
      font-size: 1rem;
      padding-bottom: 0.1em;
      display: flex;

      &::before {
        content: "";
        width: 1em;
        display: block;
        margin-right: 0.5em;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }

    label[for="sv"] {
      &::before {
        background-image: url("../assets/se.svg");
      }
    }

    label[for="en"] {
      &::before {
        background-image: url("../assets/gb.svg");
      }
    }

    input {
      display: none;
    }
    input[type="radio"]:checked + label {
      color: #fff;
      border-bottom: 0.15em solid #fff;
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }

  &__back-button {
    margin: 0 4em;
    font-size: 0.8rem;
    background: #63bfc2;
    padding: 1em 2em;
    border-radius: 2em;
    border: none;
    color: white;
    cursor: pointer;
  }

  &__nav-button {
    background: none;
    border: none;
    height: 2.5em;
    width: 2.5em;
    color: steelblue;
    cursor: pointer;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__nav-button--previous {
    svg {
      transform: rotate(180deg);
    }
  }

  &__nav-button--disabled {
    opacity: 0;
  }

  &__footer {
    animation: drop 0.8s 0.2s forwards;
    opacity: 0;
    display: none;
    margin-top: 3em;
    margin-bottom: 5em;
    align-items: center;
    justify-content: center;
  }

  &__title {
    text-align: left;
    font-weight: bold;
    color: white;
    font-size: 4rem;
  }

  &__body {
    color: white;
    text-align: left;
    line-height: 1.5;
    opacity: 0;
    animation: drop 0.8s forwards;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    margin: 0 auto;
    flex: 1;
    justify-content: center;
    flex-direction: row;

    div {
      padding: 0 2em;
    }

    p {
      max-width: 35rem;
      align-self: flex-start;
    }

    blockquote {
      display: block;
      max-width: 35rem;
      font-size: 2rem;
      font-weight: bold;
    }

    img {
      margin-bottom: 2em;
      max-width: 40em;
    }

    video {
      position: absolute;
      width: 60em;
    }
  }
}

.page--opened {
  .page__footer {
    display: flex;
  }

  .page__header {
    display: flex;
  }

  .page__body {
    display: flex;
  }
}
